<ul class="card-grid">
  {% for item in include.collection %}

    {% assign has_video = false %}
    {% if item.video %}
      {% assign has_video = true %}
    {% endif %}

    <li class="card">
      {% if item.showpost %}
        <a href="{{ item.url }}">
      {% else %}
        <div>
      {% endif %}
        {% if has_video %}
          <div class="card-video-container">
              <video autoplay muted loop playsinline preload="metadata" aria-label="{{ item.video-description }}">
                <source src="{{ item.video }}">
              </video>
              <hr />
          </div>
        {% endif %}
      {% if item.showpost %}
        </a>
      {% else %}
        </div>
      {% endif %}
      <div class="card-description-container">
        <span class="header">
          <h3>
            {{ item.title }} 

            {% if item.highlight %}
              <mark>{{ item.highlight }}</mark>
            {% endif %}
          </h3>

          {% if item.years %}
          <span class="dark-capsule card-date">
              {{item.years}}
          </span>
          {% endif %}

        </span>

        {% if item.description != false %}
        <p class="body">
          {{ item.description }}
        </p>
        {% endif %}

        <div class="platform-links">
        {% for platform in item.platforms %}

          {% assign key = platform.name %}
          {% assign light_icon_key = key | append: '_light' %}
          {% assign dark_icon_key = key | append: '_dark' %}
          {% assign title_key = 'title_' | append: key %}

          <a href="{{ platform.url }}" class="platform-link" target="_blank" rel="noopener noreferrer">
            <svg class="platform-icon platform-icon--light">
              <image href="{{ site.theme_config.icons[light_icon_key] }}" id="{{ key }}"/>
            </svg>
            <svg class="platform-icon platform-icon--dark">
              <image href="{{ site.theme_config.icons[dark_icon_key] }}" id="{{ key }}"/>
            </svg>
            <span class="platform-text">{{ site.theme_config.platforms[title_key] }}</span>
          </a>

        {% endfor %}
        </div>


        {% if item.contributions and item.contributions.size > 0 %}
        <h4 class="capsule-group-header">{{ site.theme_config.home.title_primary_capsules }}</h4>
        <ul class="capsule-group capsule-group-primary">
          {% for capsule in item.contributions %}
            <li class="capsule">{{ capsule }}</li>
          {% endfor %}
        </ul>
        {% endif %}

        {% if item.tools and item.tools.size > 0 %}
        <h4 class="capsule-group-header">{{ site.theme_config.home.title_secondary_capsules }}</h4>
        <ul class="capsule-group capsule-group-secondary">
          {% for capsule in item.tools %}
            <li class="capsule">{{ capsule }}</li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
      <!-- <a href="{{ item.url }}">

      </a> -->
    </li>

  {% endfor %}
</ul>
