<ul class="card-grid">
  {% for item in include.collection %}

    {% assign has_url = false %}
    {% if item.url %}
      {% assign has_url = true %}
    {% endif %}

    {% assign has_video = false %}
    {% if item.video %}
      {% assign has_video = true %}
    {% endif %}

    <li class="card">
      {% if has_url %}
        <a href="{{ item.url }}">
      {% else %}
        <div>
      {% endif %}
        {% if has_video %}
          <div class="card-video-container">
              <video autoplay muted loop playsinline preload="metadata">
                <source src="{{ item.video }}">
              </video>
              <hr />
          </div>
        {% endif %}
      {% if has_url %}
        </a>
      {% else %}
        </div>
      {% endif %}
      <div class="card-description-container">
        <span class="header">
          <span>
            {{ item.title }} 

            {% if item.highlight %}
              <mark>{{ item.highlight }}</mark>
            {% endif %}
          </span>

          {% if item.year %}
          <span class="dark-capsule card-date">
              {{item.year}}
          </span>
          {% endif %}

        </span>

        {% if item.desc != false %}
        <p class="body">
          {{ item.desc }}
        </p>
        {% endif %}

        <div class="platform-links">
        {% for platform in item.platforms %}

          {% assign key = platform.name %}
          {% assign light_icon_key = key | append: '_light' %}
          {% assign dark_icon_key = key | append: '_dark' %}
          {% assign title_key = 'title_' | append: key %}

          <a href="{{ platform.url }}" class="platform-link" target="_blank" rel="noopener noreferrer">
            <svg class="platform-icon platform-icon--light">
              <image href="{{ site.theme_config.icons[light_icon_key] }}" id="{{ key }}"/>
            </svg>
            <svg class="platform-icon platform-icon--dark">
              <image href="{{ site.theme_config.icons[dark_icon_key] }}" id="{{ key }}"/>
            </svg>
            <span class="platform-text">{{ site.theme_config.platforms[title_key] }}</span>
          </a>

        {% endfor %}
        </div>


        {% if item.capsules_primary and item.capsules_primary.size > 0 %}
        <span class="capsule-group-header">{{ site.theme_config.home.title_primary_capsules }}</span>
        <div class="capsule-group capsule-group-primary">
          {% for capsule in item.capsules_primary %}
            <span class="capsule">{{ capsule }}</span>
          {% endfor %}
        </div>
        {% endif %}

        {% if item.capsules_secondary and item.capsules_secondary.size > 0 %}
        <span class="capsule-group-header">{{ site.theme_config.home.title_secondary_capsules }}</span>
        <div class="capsule-group capsule-group-secondary">
          {% for capsule in item.capsules_secondary %}
            <span class="capsule">{{ capsule }}</span>
          {% endfor %}
        </div>
        {% endif %}
      </div>
      <!-- <a href="{{ item.url }}">

      </a> -->
    </li>

  {% endfor %}
</ul>
