<ul class="horizontal-list">
  {% for item in include.collection %}

    {% assign link = item.link%}
    {% if item.is_email %}
      {% assign link = 'mailto:' | append: item.link %}
    {% endif %}
    <li>
      <a href="{{ link }}" class="horizontal-list-link">

        {% assign key = item.icon %}
        {% assign light_icon_key = 'assets/icons/' | append: key | append: '_light.svg' %}
        {% assign dark_icon_key = 'assets/icons/' | append: key | append: '_dark.svg' %}

        {% if item.icon %}
          <svg class="horizontal-list-icon horizontal-list-icon--light" viewBox="0 0 100 100" aria-hidden="true" focusable="false">
            <image href="{{ light_icon_key }}" width="100" height="100" />
          </svg>
          <svg class="horizontal-list-icon horizontal-list-icon--dark" viewBox="0 0 100 100" aria-hidden="true" focusable="false">
            <image href="{{ dark_icon_key }}" width="100" height="100" />
          </svg>
        {% endif %}

        {{ item.title }}
      </a>
    </li>
  {% endfor %}
</ul>
