<div class="skills-section-list">
  {% for section in include.collection %}
    <div class="skills-section">
      <h4 class="skills-section-header">

        {% assign key = section.icon %}
        {% assign light_icon_key = 'assets/icons/' | append: key | append: '_light.svg' %}
        {% assign dark_icon_key = 'assets/icons/' | append: key | append: '_dark.svg' %}

        {% if section.icon %}
          {% if light_icon_key %}
            <svg class="skills-section-icon skills-section-icon--light" viewBox="0 0 100 100" aria-hidden="true" focusable="false">
              <image href="{{ light_icon_key }}" width="100" height="100" />
            </svg>
          {% endif %}
          {% if dark_icon_key %}
            <svg class="skills-section-icon skills-section-icon--dark" viewBox="0 0 100 100" aria-hidden="true" focusable="false">
              <image href="{{ dark_icon_key }}" width="100" height="100" />
            </svg>
          {% endif %}
        {% endif %}
        <span>{{ section.title }}</span>
      </h4>

      {% if section.skillset and section.skillset.size > 0 %}
        <ul class="skills-capsule-group">
          {% for skill in section.skillset %}
            <li class="skills-capsule">{{ skill }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  {% endfor %}
</div>
