---
layout: default
---

<header>
{% if site.theme_config.show_navbar == true %}
  {% include horizontal_list.html collection=site.data.home.navbar_entries %}
  <div class="dashed"></div>
{% endif %}

  <p class="title">{{ site.title }}</p>
  <p class="subtitles">{{ site.subtitle }}</p>

  {% assign show_description = site.theme_config.show_description == true %}
  {% assign show_skill = site.theme_config.show_skill == true and site.data.home.skills and site.data.home.skills.size > 0 %}

  {% if show_description or show_skill %}
  <div class="home-intro-grid{% if show_skill == false %} home-intro-grid--single{% endif %}">
    {% if show_description %}
    <div class="home-intro-description">
      <p>{{ site.description }}</p>
    </div>
    {% endif %}

    {% if show_skill %}
    <div class="home-intro-skills">
      {% include skills_list.html collection=site.data.home.skills %}
    </div>
    {% endif %}
  </div>
  {% endif %}
</header>

{{ content }}



{% if site.theme_config.show_projects == true %}
  <h2>{{ site.theme_config.home.title_projects }}</h2>
  {% include card_list.html collection=site.data.home.project_entries %}
{% endif %}

{% if site.theme_config.show_misc_list == true %}
  <h2>{{ site.theme_config.home.title_misc_list }}</h2>
  {% include vertical_list.html collection=site.data.home.misc_entries %}
{% endif %}

{% if site.theme_config.show_blog == true %}
  <h2>{{ site.theme_config.home.title_blog }}</h2>
  {% include post_list.html %}
{% endif %}

{% if site.theme_config.show_old_projects == true %}
  <h2>{{ site.theme_config.home.title_old_projects }}</h2>
  {% include card_list.html collection=site.data.home.old_project_entries %}
{% endif %}


{% if site.theme_config.show_footer == true %}
  <footer>
    <div class="dashed"></div>
    {% include horizontal_list.html collection=site.data.home.footer_entries %}
  </footer>
{% endif %}
